/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono');

 @import url('https://fonts.googleapis.com/css?family=Courgette|Damion|PT+Sans+Caption|Ubuntu|Voltaire');

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Ubuntu Mono', monospace;
}

.hidden {
  display: none;
}
.welcomeTitle {
  color: #505050;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.site-title {
  color: #767676;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 48px;
}
.site-title:hover {
  color: #45c09d;
  font-weight: bold;
}
p {
  color: #505050;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color:#45c09d;
  z-index: 3;
}

#new-site {
  width: 500px;
  border: 2px solid black;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  position: absolute;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.submit-app {
  padding: 20px;
}
input[type=text], textarea {
  background-color: #d6d6d6;
  box-shadow:inset 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}
input[type=text]:focus {
  background-color: #d6d6d6;
}
textarea:focus {
  background-color: #d6d6d6;
}
.site-tile {
  padding: 30px 40px 40px 30xp;
  margin-bottom: 30px;
}

/*.columns {
  padding: 10px;
}*/
.box-content {
  background-color: #e6e6e6;
  padding: 40px 50px 50px 50px;
  height: 500px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.row {
  max-width: 2000px;
}
label {
  color: #505050;
  font-family: 'Ubuntu', sans-serif;
}

#nav-bar {
  max-width: 2000px;
  background-color: #90dbc6;
  height: 60px;
}

#nav-bar a {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  height: 60px;
  margin-top: 11px;
  font-size: 18px;
}

#logo a {
  margin-top: 0px;
  font-size: 40px;
}

#logo {
  float: left;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
}

.navbar-text {
  color: white;
  background-color: #a7a9ac;
  padding-top: 5px;
  padding-right: 10px;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
}

.navbar-text a {
  color: white;
}
.share-app {
  font-family: 'Ubuntu Mono', monospace;
  padding: 5px;
  border: 2px solid black;
}
.share-app:hover {
  background-color: #90dbc6;
}
.share-app-submit {
  background-color: #90dbc6;
  font-family: 'Ubuntu Mono', monospace;
}
